# Final Capstone Project - Week 5 - The Battle of the Neighborhoods - Applied Data Science Capstone - IBM/Coursera

> ## Targeted Marketing Campaign Prediction & User Behavior Analysis using Classification & Regression Algorithms

> ## Brandy Guillory

> ## December 26, 2019

## Table of contents
1. [Introduction – Business Understanding](#0)<br>
2. [Data Science Methodology](#datasciencemethodology)
3. [Results](#results)
4. [Discussion](#discussion)
5. [Conclusion](#conclusion)

## Introduction – Business Understanding<a id="0"></a>

### 1.1 Background

There has been an evolution of marketing. Since the 1900s starting on both radio and television, the marketing focus was on "selling" starting. The Golden age of Advertising introduced such ads as "Uncle Sam Wants You for the Army" and "Eat Your Wheaties". Marketing became more personalized with a focus on brand awareness and problem solving. Then there was the digital ad revolution  that began with online advertising in the 1990s and mobile ads in 2000. There is a plethora of data collected daily about users and the ability to harness this data to produce more targeted and personalized ad campaigns to create better customer experience and revenue generation.

### 1.2 Problem

An employee at a fictitious big data marketing company, Insights LLC has been tasked with helping its customer determine four ideal marketing campaigns based on user behavior in specific geographic regions and appropriate customer segmentation based on this data.

### 1.3 Interest

Insights, LLC has a customer who would like to create more personalized ad campaigns for its target customer segments to increase revenue and customer satisfaction. With the plethora of data collected & speed in which it is collected on its customers, the ability to harness it for either a) an increase of revenue via new products/services b) identification of user behavior for both positive & negative trends in customer satisfaction. I am using data science methodology to solve this business problem.

## 2. Data Science Methodology<a name="datasciencemethodology"></a>

### 2.1	Data Requirements – Data Tooling,  Sources & Collection

The data tooling I will be using will be Python language for (data cleansing, data manipulation, data modeling, data analytics & visualization), Jupyter notebook for sharing code & data analysis pushed to GitHub for source control.


The customer has asked me to gather insights for three specific cities: 
•	Atlanta
•	San Francisco
•	New Orleans
 

I am using the following data: 
•	Wikipedia web scrape: Neighborhood data for the various cities
•	Geocoder nominatim: Retrieval of latitude and longitude of the neighborhoods 
•	Foursquare Places API: venue& likes data for these neighborhoods 
•	Kaggle datasets: SF crime data & Atlanta salary/occupation data

The data that I will be using will be both structured & unstructured.

Factors that will influence the marketing campaign: likes per venue, crime, venues most frequented per neighborhood

In [1]:
%%capture
!pip install geocoder
!pip install folium


#import statements, installation of libraries for data visualization/analysis & geographical data retrieval
import pandas as pd
import geocoder
from geopy.geocoders import Nominatim
import requests
from bs4 import BeautifulSoup
from tabulate import tabulate
import folium 
import urllib.request
from urllib.request import urlopen
from pandas.io.json import json_normalize

### Wikipedia web scrape for neighborhood data

#### Atlanta neighborhood data web scrape

In [2]:
res = requests.get("https://en.wikipedia.org/wiki/List_of_counties_in_Georgia")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table') 
atlantaneighborhood_df = pd.read_html(str(table))
atlantaneighborhood_df = pd.concat(atlantaneighborhood_df)
#atlantaneighborhood_df.head(50)
atlantaneighborhood_df.tail(50)

,0,1,Area[10],Counties of Georgia,Counties of Georgia.1,County,County seat[10],Density,Est.[10],Etymology[11],FIPS code[9],Map,Origin[11],Population[12],vteLists of United States counties and county equivalents,vteLists of United States counties and county equivalents.1,vte State of Georgia,vte State of Georgia.1,vte State of Georgia.2
120,NaN,NaN,324 sq mi(839 km2),NaN,NaN,Richmond County,Augusta,625.27,1777.0,"Charles Lennox, 3rd Duke of Richmond (1735–180...",245.0,NaN,St Paul Parish,202587.0,NaN,NaN,NaN,NaN,NaN
121,NaN,NaN,131 sq mi(339 km2),NaN,NaN,Rockdale County,Conyers,655.11,1870.0,"Rockdale Church, which was so named for the su...",247.0,NaN,Henry and Newton counties,85820.0,NaN,NaN,NaN,NaN,NaN
122,NaN,NaN,168 sq mi(435 km2),NaN,NaN,Schley County,Ellaville,29.70,1857.0,"William Schley (1786–1858), governor of Georgi...",249.0,NaN,Marion and Sumter counties,4990.0,NaN,NaN,NaN,NaN,NaN
123,NaN,NaN,"648 sq mi(1,678 km2)",NaN,NaN,Screven County,Sylvania,21.92,1793.0,"General James Screven (1744–1778), a hero of t...",251.0,NaN,Burke and Effingham Counties,14202.0,NaN,NaN,NaN,NaN,NaN
124,NaN,NaN,238 sq mi(616 km2),NaN,NaN,Seminole County,Donalsonville,37.59,1920.0,Seminole Nation,253.0,NaN,Decatur and Early Counties,8947.0,NaN,NaN,NaN,NaN,NaN
125,NaN,NaN,198 sq mi(513 km2),NaN,NaN,Spalding County,Griffin,322.55,1851.0,"Thomas Spalding (1774–1851), U.S. Congressman,...",255.0,NaN,"Fayette, Henry, and Pike County",63865.0,NaN,NaN,NaN,NaN,NaN
126,NaN,NaN,179 sq mi(464 km2),NaN,NaN,Stephens County,Toccoa,144.64,1905.0,"Alexander Stephens (1812–83), U.S. Congressman...",257.0,NaN,Franklin and Habersham Counties,25891.0,NaN,NaN,NaN,NaN,NaN
127,NaN,NaN,"459 sq mi(1,189 km2)",NaN,NaN,Stewart County,Lumpkin,13.16,1830.0,"General Daniel Stewart (1759–1829), a hero of ...",259.0,NaN,Randolph County,6042.0,NaN,NaN,NaN,NaN,NaN
128,NaN,NaN,"485 sq mi(1,256 km2)",NaN,NaN,Sumter County,Americus,65.06,1831.0,"General Thomas Sumter (1734–1832), the ""Fighti...",261.0,NaN,Lee County,31554.0,NaN,NaN,NaN,NaN,NaN
129,NaN,NaN,"393 sq mi(1,018 km2)",NaN,NaN,Talbot County,Talbotton,16.58,1827.0,"Matthew Talbot (1762–1827), served in the Geor...",263.0,NaN,Muscogee County,6517.0,NaN,NaN,NaN,NaN,NaN
130,NaN,NaN,195 sq mi(505 km2),NaN,NaN,Taliaferro County,Crawfordville,8.62,1825.0,"Colonel Benjamin Taliaferro (1750–1821), U.S. ...",265.0,NaN,"Greene, Hancock, Oglethorpe, Warren, and Wilke...",1680.0,NaN,NaN,NaN,NaN,NaN
131,NaN,NaN,"484 sq mi(1,254 km2)",NaN,NaN,Tattnall County,Reidsville,52.45,1801.0,"Josiah Tattnall (1764–1803), U.S. Senator; Gov...",267.0,NaN,Montgomery County,25384.0,NaN,NaN,NaN,NaN,NaN
132,NaN,NaN,378 sq mi(979 km2),NaN,NaN,Taylor County,Butler,22.28,1852.0,"Zachary Taylor (1784–1850), the twelfth Presid...",269.0,NaN,"Macon, Marion and Talbot Counties",8420.0,NaN,NaN,NaN,NaN,NaN
133,NaN,NaN,"441 sq mi(1,142 km2)",NaN,NaN,Telfair County,McRae,37.07,1807.0,"Edward Telfair (1735–1807), the second Governo...",271.0,NaN,Wilkinson County,16349.0,NaN,NaN,NaN,NaN,NaN
134,NaN,NaN,336 sq mi(870 km2),NaN,NaN,Terrell County,Dawson,26.92,1856.0,"Dr. William Terrell (1778–1855), U.S. Congressman",273.0,NaN,Lee and Randolph Counties,9045.0,NaN,NaN,NaN,NaN,NaN
135,NaN,NaN,"548 sq mi(1,419 km2)",NaN,NaN,Thomas County,Thomasville,81.61,1825.0,"General Jett Thomas (1776–1817), a hero of the...",275.0,NaN,Decatur and Irwin Counties,44724.0,NaN,NaN,NaN,NaN,NaN
136,NaN,NaN,265 sq mi(686 km2),NaN,NaN,Tift County,Tifton,154.96,1905.0,"Colonel Nelson Tift (1810–91), a captain in th...",277.0,NaN,"Berrien, Irwin and Worth Counties",41064.0,NaN,NaN,NaN,NaN,NaN
137,NaN,NaN,367 sq mi(951 km2),NaN,NaN,Toombs County,Lyons,74.43,1905.0,"General Robert Toombs (1810–85), U.S. Senator;...",279.0,NaN,"Emanuel, Tattnall, and Montgomery Counties",27315.0,NaN,NaN,NaN,NaN,NaN
138,NaN,NaN,166 sq mi(430 km2),NaN,NaN,Towns County,Hiawassee,63.22,1856.0,"George Washington Towns (1801–54), governor of...",281.0,NaN,Rabun and Union Counties,10495.0,NaN,NaN,NaN,NaN,NaN
139,NaN,NaN,201 sq mi(521 km2),NaN,NaN,Treutlen County,Soperton,33.68,1918.0,"John A. Treutlen (1726–82), the first elected ...",283.0,NaN,Emanuel and Montgomery Counties,6769.0,NaN,NaN,NaN,NaN,NaN
140,NaN,NaN,"414 sq mi(1,072 km2)",NaN,NaN,Troup County,LaGrange,165.38,1826.0,"George M. Troup (1780–1856), Governor of Georg...",285.0,NaN,Creek Cession of 1826,68468.0,NaN,NaN,NaN,NaN,NaN
141,NaN,NaN,286 sq mi(741 km2),NaN,NaN,Turner County,Ashburn,29.41,1905.0,"Captain Henry Gray Turner (1839–1904), U.S. Co...",287.0,NaN,"Dooly, Irwin, Wilcox and Worth Counties",8410.0,NaN,NaN,NaN,NaN,NaN
142,NaN,NaN,360 sq mi(932 km2),NaN,NaN,Twiggs County,Jeffersonville,23.46,1809.0,"General John Twiggs (1750–1816), a hero of the...",289.0,NaN,Wilkinson County,8447.0,NaN,NaN,NaN,NaN,NaN
143,NaN,NaN,323 sq mi(837 km2),NaN,NaN,Union County,Blairsville,66.41,1832.0,Federal union of the states,291.0,NaN,Cherokee County,21451.0,NaN,NaN,NaN,NaN,NaN
144,NaN,NaN,326 sq mi(844 km2),NaN,NaN,Upson County,Thomaston,81.69,1824.0,"Stephen Upson (1786–1824), state legislator",293.0,NaN,Crawford and Pike Counties,26630.0,NaN,NaN,NaN,NaN,NaN
145,NaN,NaN,"446 sq mi(1,155 km2)",NaN,NaN,Walker County,Lafayette,152.68,1833.0,"Major Freeman Walker (1780–1827), U.S. Senator...",295.0,NaN,Murray County,68094.0,NaN,NaN,NaN,NaN,NaN
146,NaN,NaN,329 sq mi(852 km2),NaN,NaN,Walton County,Monroe,257.07,1818.0,"George Walton (1749–1804), one of Georgia's de...",297.0,NaN,Creek Cession of 1818,84575.0,NaN,NaN,NaN,NaN,NaN
147,NaN,NaN,"903 sq mi(2,339 km2)",NaN,NaN,Ware County,Waycross,39.67,1824.0,"Nicholas Ware (1769–1824), U.S. Senator (1821–24)",299.0,NaN,Appling County,35821.0,NaN,NaN,NaN,NaN,NaN
148,NaN,NaN,286 sq mi(741 km2),NaN,NaN,Warren County,Warrenton,19.50,1793.0,"General Joseph Warren (1741–75), a hero of the...",301.0,NaN,"Columbia, Hancock, Richmond, and Wilkes Counties",5578.0,NaN,NaN,NaN,NaN,NaN
149,NaN,NaN,"680 sq mi(1,761 km2)",NaN,NaN,Washington County,Sandersville,30.70,1784.0,"George Washington (1732–99), the first Preside...",303.0,NaN,Creek Cession of 1783,20879.0,NaN,NaN,NaN,NaN,NaN
150,NaN,NaN,"645 sq mi(1,671 km2)",NaN,NaN,Wayne County,Jesup,46.98,1803.0,"General Anthony Wayne (1745–96), known as ""Mad...",305.0,NaN,Creek Cession of 1802,30305.0,NaN,NaN,NaN,NaN,NaN
151,NaN,NaN,210 sq mi(544 km2),NaN,NaN,Webster County,Preston,13.30,1853.0,"Daniel Webster (1782–1852), U.S. Secretary of ...",307.0,NaN,Stewart County (Formally Kinchafoonee),2793.0,NaN,NaN,NaN,NaN,NaN
152,NaN,NaN,298 sq mi(772 km2),NaN,NaN,Wheeler County,Alamo,26.47,1912.0,"General Joseph Wheeler (1836–1906), U.S. Congr...",309.0,NaN,Montgomery County,7888.0,NaN,NaN,NaN,NaN,NaN
153,NaN,NaN,242 sq mi(627 km2),NaN,NaN,White County,Cleveland,113.87,1857.0,"Colonel John White, a hero of the Revolutionar...",311.0,NaN,Habersham County,27556.0,NaN,NaN,NaN,NaN,NaN
154,NaN,NaN,290 sq mi(751 km2),NaN,NaN,Whitfield County,Dalton,356.41,1851.0,"George Whitefield (1714–70), pastor; establish...",313.0,NaN,Murray County,103359.0,NaN,NaN,NaN,NaN,NaN
155,NaN,NaN,380 sq mi(984 km2),NaN,NaN,Wilcox County,Abbeville,23.86,1857.0,"General Mark Wilcox (1800–50), a noted soldier...",315.0,NaN,"Dooly, Irwin, and Pulaski counties",9068.0,NaN,NaN,NaN,NaN,NaN
156,NaN,NaN,"471 sq mi(1,220 km2)",NaN,NaN,Wilkes County,Washington,21.39,1777.0,"John Wilkes (1727–97), a British Member of Par...",317.0,NaN,Cherokee and Creek Cessions of 1773,10076.0,NaN,NaN,NaN,NaN,NaN
157,NaN,NaN,"447 sq mi(1,158 km2)",NaN,NaN,Wilkinson County,Irwinton,21.43,1803.0,"General James Wilkinson (1757–1825), veteran o...",319.0,NaN,Creek Cessions of 1802 and 1805,9577.0,NaN,NaN,NaN,NaN,NaN
158,NaN,NaN,"570 sq mi(1,476 km2)",NaN,NaN,Worth County,Sylvester,38.14,1853.0,"General William J. Worth (1794–1849), a hero o...",321.0,NaN,Dooly and Irwin Counties,21741.0,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atlanta (capital),Atlanta (capital),Atlanta (capital)
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Topics,Index Geology History Congressional delegation...,Seal of Georgia
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Society,Culture Crime Demographics Economy Education P...,Seal of Georgia
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Regions,Atlantic coastal plain Blue Ridge Central Geor...,Seal of Georgia
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Largest cities,Albany Atlanta Athens Augusta Columbus Johns C...,Seal of Georgia
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Counties,Appling Atkinson Bacon Baker Baldwin Banks Bar...,Seal of Georgia
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Category Portal WikiProject Book,Category Portal WikiProject Book,Category Portal WikiProject Book
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,States,Alabama Alaska Arizona Arkansas California Col...,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Federal district,District of Columbia,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Insular areas,American Samoa Guam Northern Mariana Islands P...,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Outlying Islands,United States Minor Outlying Islands,NaN,NaN,NaN

#### San Francisco neighborhood data web scrape

In [3]:
res = requests.get("http://www.healthysf.org/bdi/outcomes/zipmap.htm")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table') 
sanfrancisconeighborhood_df = pd.read_html(str(table))
sanfrancisconeighborhood_df = pd.concat(sanfrancisconeighborhood_df)
sanfrancisconeighborhood_df.head(5)

,0,1,2,3,4
0,NaN,San Francisco Burden of Disease & Injury Study...,NaN,NaN,NaN
1,NaN,About Site Determinants Health Outcomes Web Li...,NaN,NaN,NaN
0,About Site,Determinants,Health Outcomes,Web Links,Site Map
0,About Site,Determinants,Health Outcomes,Web Links,Site Map
0,San Francisco Neighborhoods as ZIP Codes Zip C...,Zip Code Neighborhood 94102 Hayes Valley/Tende...,NaN,NaN,NaN

#### New Orleans neighborhood data web scrape

In [4]:
res = requests.get("https://en.wikipedia.org/wiki/Neighborhoods_in_New_Orleans")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table') 
neworleansneighborhood_df = pd.read_html(str(table))
neworleansneighborhood_df = pd.concat(neworleansneighborhood_df)
neworleansneighborhood_df.head(5)

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,Latitude,Longitude,Neighborhood,vte City of New Orleans,vte City of New Orleans.1,vte City of New Orleans.2
0,29.946085,-90.026093,U.S. NAVAL BASE,NaN,NaN,NaN
1,29.952462,-90.051606,ALGIERS POINT,NaN,NaN,NaN
2,29.947200,-90.042357,WHITNEY,NaN,NaN,NaN
3,29.932994,-90.121450,AUDUBON,NaN,NaN,NaN
4,29.924440,-90.000000,OLD AURORA,NaN,NaN,NaN

### Foursquare Data Collection to retrieve lat and long of 3 SF neighborhoods, venue data of venues within a proximity of the neighborhoods & like/check-in data on the venues

#### Hide code below for API creds

In [ ]:
# The code was removed by Watson Studio for sharing.

#### In order to define an instance of the geocoder, we need to define a user_agent. We will name our agent <em>foursquare_agent</em>, as shown below and get coordinates for 3 SF Neighborhoods via function
#### In addition I pull all nearby venues using location coordinates within a 500 mile radius

In [ ]:
def getcoords(clientid,secret,vrsn,lmt,address):
    geolocator = Nominatim(user_agent="foursquare_agent")
    location = geolocator.geocode(address)
    latitude = location.latitude
    longitude = location.longitude
    return latitude,longitude

address = 'the castro san francisco'
#address = 'Potrero Hill san francisco'
#address = 'Chinatown san francisco'
coords = getcoords(CLIENT_ID,CLIENT_SECRET,VERSION,LIMIT,address)
print('Coordinates of {}: {}'.format(address, coords))

Coordinates of the castro san francisco: (37.7608561, -122.434957)

#### Retrieving Category Type from rows and returning the names

In [ ]:
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

#### Using Foursquare API to explore venues then convert result into a pandas dataframe from JSON

In [ ]:
radius=100
limit=100
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    latitude,
    longitude,
    radius, 
    LIMIT)
results = requests.get(url).json()
venues = results['response']['groups'][0]['items']
nearby_venues_df = json_normalize(venues)

#### Filter columns by Venue ID, Venue Name, Venue Category & Venue Lat & Long

In [ ]:
filtered_columns = ['venue.id','venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues_df =nearby_venues_df.loc[:, filtered_columns]# filter the category for each row
nearby_venues_df['venue.categories'] = nearby_venues_df.apply(get_category_type, axis=1)# clean columns
nearby_venues_df.columns = [col.split(".")[-1] for col in nearby_venues_df.columns]
nearby_venues_df.rename(columns={'lat':'Latitude'}, inplace=True)
nearby_venues_df.rename(columns={'lng':'Longitude'}, inplace=True)
nearby_venues_df.head(5)

,id,name,categories,Latitude,Longitude
0,49fe3629f964a5207f6f1fe3,Yoga Tree Castro,Yoga Studio,37.761051,-122.436003
1,5613f02d498e46b274c37a65,Philz Coffee,Coffee Shop,37.760104,-122.434829
2,58f18932d7627e564887c486,The Castro Fountain,Ice Cream Shop,37.760052,-122.435024
3,52efb33f498e5300bf66e245,Réveille Coffee Co.,Coffee Shop,37.761104,-122.434430
4,574f605b498ee997a05fa2d7,Dog Eared Books,Bookstore,37.761206,-122.434959

#### Set up to pull the likes from the API based on venue ID

In [ ]:
#set up to pull the likes from the API based on venue ID
venue_id_list = nearby_venues_df['id'].tolist()
venue_id_list

url_list = []
like_list = []
json_list = []

#loop through the apis for each venue and provide the likes in a list
for i in venue_id_list:
    venue_url = 'https://api.foursquare.com/v2/venues/{}/likes?client_id={}&client_secret={}&v={}'.format(i, CLIENT_ID, CLIENT_SECRET, VERSION)
    url_list.append(venue_url)
for link in url_list:
    result = requests.get(link).json()
    likes = result['response']['likes']['count']
    like_list.append(likes)
print(like_list)

[82, 293, 61, 632, 51, 159, 24, 68, 142, 70, 184, 12, 3, 232, 24, 157, 14, 245, 192, 109, 16, 225, 229, 2, 15]

In [ ]:
#### Foursquare check-in data(optional)

### Kaggle Data Collection - San Francisco Crime by Neighborhood

In [ ]:
# The code was removed by Watson Studio for sharing.

,Dates,Category,Description,DayOfWeek,Neighborhood,Resolution,Address,Latitude,Longitude
0,5/13/15 23:53,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,5/13/15 23:53,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,5/13/15 23:33,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,5/13/15 23:30,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,5/13/15 23:30,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541
5,5/13/15 23:30,LARCENY/THEFT,GRAND THEFT FROM UNLOCKED AUTO,Wednesday,INGLESIDE,NONE,0 Block of TEDDY AV,-122.403252,37.713431
6,5/13/15 23:30,VEHICLE THEFT,STOLEN AUTOMOBILE,Wednesday,INGLESIDE,NONE,AVALON AV / PERU AV,-122.423327,37.725138
7,5/13/15 23:30,VEHICLE THEFT,STOLEN AUTOMOBILE,Wednesday,BAYVIEW,NONE,KIRKWOOD AV / DONAHUE ST,-122.371274,37.727564
8,5/13/15 23:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,RICHMOND,NONE,600 Block of 47TH AV,-122.508194,37.776601
9,5/13/15 23:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,CENTRAL,NONE,JEFFERSON ST / LEAVENWORTH ST,-122.419088,37.807802
10,5/13/15 22:58,LARCENY/THEFT,PETTY THEFT FROM LOCKED AUTO,Wednesday,CENTRAL,NONE,JEFFERSON ST / LEAVENWORTH ST,-122.419088,37.807802
11,5/13/15 22:30,OTHER OFFENSES,MISCELLANEOUS INVESTIGATION,Wednesday,TARAVAL,NONE,0 Block of ESCOLTA WY,-122.487983,37.737667
12,5/13/15 22:30,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Wednesday,TENDERLOIN,NONE,TURK ST / JONES ST,-122.412414,37.783004
13,5/13/15 22:06,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,FILLMORE ST / GEARY BL,-122.432915,37.784353
14,5/13/15 22:00,NON-CRIMINAL,FOUND PROPERTY,Wednesday,BAYVIEW,NONE,200 Block of WILLIAMS AV,-122.397744,37.729935
15,5/13/15 22:00,NON-CRIMINAL,FOUND PROPERTY,Wednesday,BAYVIEW,NONE,0 Block of MENDELL ST,-122.383691,37.743189
16,5/13/15 22:00,ROBBERY,"ROBBERY, ARMED WITH A KNIFE",Wednesday,TENDERLOIN,NONE,EDDY ST / JONES ST,-122.412597,37.783932
17,5/13/15 21:55,ASSAULT,AGGRAVATED ASSAULT WITH BODILY FORCE,Wednesday,INGLESIDE,NONE,GODEUS ST / MISSION ST,-122.421681,37.742822
18,5/13/15 21:40,OTHER OFFENSES,TRAFFIC VIOLATION,Wednesday,BAYVIEW,"ARREST, BOOKED",MENDELL ST / HUDSON AV,-122.386401,37.738983
19,5/13/15 21:30,NON-CRIMINAL,FOUND PROPERTY,Wednesday,TENDERLOIN,NONE,100 Block of JONES ST,-122.412250,37.782556
20,5/13/15 21:30,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,INGLESIDE,NONE,200 Block of EVELYN WY,-122.449389,37.742669
21,5/13/15 21:17,ROBBERY,"ROBBERY, BODILY FORCE",Wednesday,INGLESIDE,NONE,1600 Block of VALENCIA ST,-122.420272,37.747332
22,5/13/15 21:11,WARRANTS,WARRANT ARREST,Wednesday,TENDERLOIN,NONE,100 Block of JONES ST,-122.412250,37.782556
23,5/13/15 21:11,NON-CRIMINAL,"STAY AWAY OR COURT ORDER, NON-DV RELATED",Wednesday,TENDERLOIN,NONE,100 Block of JONES ST,-122.412250,37.782556
24,5/13/15 21:10,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,FILLMORE ST / LOMBARD ST,-122.436049,37.799841
25,5/13/15 21:00,NON-CRIMINAL,LOST PROPERTY,Wednesday,TENDERLOIN,NONE,300 Block of OFARRELL ST,-122.410509,37.786043
26,5/13/15 21:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,2000 Block of BUSH ST,-122.431018,37.787388
27,5/13/15 21:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,INGLESIDE,NONE,500 Block of COLLEGE AV,-122.423656,37.732556
28,5/13/15 21:00,LARCENY/THEFT,ATTEMPTED THEFT FROM LOCKED VEHICLE,Wednesday,TARAVAL,NONE,19TH AV / SANTIAGO ST,-122.475774,37.744919
29,5/13/15 20:56,OTHER OFFENSES,MISCELLANEOUS INVESTIGATION,Wednesday,TARAVAL,NONE,2000 Block of 41ST AV,-122.499787,37.748518
...,...,...,...,...,...,...,...,...,...
878019,1/6/03 2:37,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Monday,SOUTHERN,"ARREST, CITED",6TH ST / MARKET ST,-122.410294,37.782231
878020,1/6/03 2:32,OTHER OFFENSES,TRAFFIC VIOLATION,Monday,NORTHERN,"ARREST, CITED",VAN NESS AV / TURK ST,-122.420642,37.781961
878021,1/6/03 2:24,VANDALISM,MALICIOUS MISCHIEF,Monday,NORTHERN,NOT PROSECUTED,SANCHEZ ST / 14TH ST,-122.431191,37.767595
878022,1/6/03 2:16,VEHICLE THEFT,RECOVERED VEHICLE - STOLEN OUTSIDE SF,Monday,MISSION,NONE,17TH ST / MISSION ST,-122.419516,37.763429
878023,1/6/03 2:15,LARCENY/THEFT,GRAND THEFT PICKPOCKET,Monday,TENDERLOIN,NONE,600 Block of ELLIS ST,-122.416894,37.784286
878024,1/6/03 2:09,OTHER OFFENSES,VIOLATION OF MUNICIPAL POLICE CODE,Monday,PARK,"ARREST, CITED",600 Block of DIVISADERO ST,-122.437781,37.775483
878025,1/6/03 2:06,OTHER OFFENSES,TRAFFIC VIOLATION,Monday,BAYVIEW,"ARREST, BOOKED",NEWHALL ST / GALVEZ AV,-122.387710,37.740674
878026,1/6/03 2:06,WARRANTS,WARRANT ARREST,Monday,BAYVIEW,"ARREST, BOOKED",NEWHALL ST / GALVEZ AV,-122.387710,37.740674
878027,1/6/03 2:00,WARRANTS,ENROUTE TO OUTSIDE JURISDICTION,Monday,SOUTHERN,"ARREST, BOOKED",900 Block of MARKET ST,-122.409708,37.782828
878028,1/6/03 2:00,ASSAULT,AGGRAVATED ASSAULT WITH BODILY FORCE,Monday,SOUTHERN,NONE,6TH ST / MARKET ST,-122.410294,37.782231
878029,1/6/03 1:54,OTHER OFFENSES,PROBATION VIOLATION,Monday,TENDERLOIN,"ARREST, BOOKED",1400 Block of GOLDEN GATE AV,-122.434423,37.779193
878030,1/6/03 1:54,SEX OFFENSES FORCIBLE,"FORCIBLE RAPE, BODILY FORCE",Monday,TENDERLOIN,"ARREST, BOOKED",1400 Block of GOLDEN GATE AV,-122.434423,37.779193
878031,1/6/03 1:50,ASSAULT,BATTERY,Monday,BAYVIEW,NONE,3RD ST / NEWCOMB AV,-122.390417,37.735593
878032,1/6/03 1:36,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Monday,NORTHERN,"ARREST, CITED",GEARY BL / FRANKLIN ST,-122.423031,37.785482
878033,1/6/03 1:30,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM",Monday,RICHMOND,"ARREST, CITED",1000 Block of 22ND AV,-122.391668,37.757793
878034,1/6/03 1:30,TRESPASS,TRESPASSING,Monday,RICHMOND,"ARREST, CITED",1000 Block of 22ND AV,-122.391668,37.757793
878035,1/6/03 0:55,ASSAULT,BATTERY,Monday,NORTHERN,NONE,1300 Block of WEBSTER ST,-122.431046,37.783030
878036,1/6/03 0:55,LARCENY/THEFT,PETTY THEFT SHOPLIFTING,Monday,NORTHERN,NONE,1300 Block of WEBSTER ST,-122.431046,37.783030
878037,1/6/03 0:55,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM",Monday,NORTHERN,NONE,1300 Block of WEBSTER ST,-122.431046,37.783030
878038,1/6/03 0:42,WARRANTS,ENROUTE TO OUTSIDE JURISDICTION,Monday,TENDERLOIN,"ARREST, BOOKED",TAYLOR ST / GEARY ST,-122.411519,37.786941
878039,1/6/03 0:40,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Monday,NORTHERN,"ARREST, CITED",POLK ST / CALIFORNIA ST,-122.420692,37.790577
878040,1/6/03 0:33,ASSAULT,INFLICT INJURY ON COHABITEE,Monday,MISSION,NONE,2800 Block of FOLSOM ST,-122.414073,37.751685
878041,1/6/03 0:31,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Monday,RICHMOND,"ARREST, CITED",CLEMENT ST / 14TH AV,-122.472985,37.782552
878042,1/6/03 0:20,ASSAULT,ATTEMPTED HOMICIDE WITH A GUN,Monday,BAYVIEW,"ARREST, BOOKED",1500 Block of SHAFTER AV,-122.389769,37.730564
878043,1/6/03 0:20,OTHER OFFENSES,PAROLE VIOLATION,Monday,BAYVIEW,"ARREST, BOOKED",1500 Block of SHAFTER AV,-122.389769,37.730564
878044,1/6/03 0:15,ROBBERY,ROBBERY ON THE STREET WITH A GUN,Monday,TARAVAL,NONE,FARALLONES ST / CAPITOL AV,-122.459033,37.714056
878045,1/6/03 0:01,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Monday,INGLESIDE,NONE,600 Block of EDNA ST,-122.447363,37.731948
878046,1/6/03 0:01,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Monday,SOUTHERN,NONE,5TH ST / FOLSOM ST,-122.403390,37.780266
878047,1/6/03 0:01,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Monday,SOUTHERN,NONE,TOWNSEND ST / 2ND ST,-122.390531,37.780607
878048,1/6/03 0:01,FORGERY/COUNTERFEITING,"CHECKS, FORGERY (FELONY)",Monday,BAYVIEW,NONE,1800 Block of NEWCOMB AV,-122.394926,37.738212

### 2.3	Data Cleansing & Preprocessing

Now that we have done our web scraping and downloads to source our data, we must cleanse & preprocess it. We will identify within our dataframes missing data, duplicates, anomalies, corruption and fix or remove them. We will also rename columns and perform some merging of dataframes

#### Atlanta neighborhood data cleanse/preprocessing

In [ ]:
# Drop rows where majority of values are blank in the row (first 8 rows and last 11 rows) 
atlantaneighborhood_df = atlantaneighborhood_df.iloc[8:,]
atlantaneighborhood_df = atlantaneighborhood_df.iloc[:-11,]
# Drop columns where majority of values are blank in the column, axis=1 specifies column
atlantaneighborhood_df.dropna(axis=1, how='all', thresh=None, subset=None, inplace=True)
## Drop irrelevant columns that contain data unrelated to our problem/project 
atlantaneighborhood_df.drop(['County seat[10]', 'Density', 'Est.[10]', 'Etymology[11]', 'FIPS code[9]', 'Origin[11]'], axis=1,inplace=True)
## Rename columns to be more meaningful
atlantaneighborhood_df.columns = ['Area', 'County' , 'Population']
atlantaneighborhood_df.head()

                   Area           County  Population
0  509 sq mi(1,318 km2)   Appling County     18368.0
1    338 sq mi(875 km2)  Atkinson County      8284.0
2    285 sq mi(738 km2)     Bacon County     11198.0
3    343 sq mi(888 km2)     Baker County      3366.0
4    258 sq mi(668 km2)   Baldwin County     46367.0

#### San Francisco neighborhood data cleanse/preprocessing

In [ ]:
# Rename columns to more meaningful names
sanfrancisconeighborhood_df.columns = ['Zip Code', 'Neighborhood' , 'Population', 'Drop1', 'Drop2']
# Drop NaN columns 
sanfrancisconeighborhood_df = sanfrancisconeighborhood_df.drop(columns=['Drop1', 'Drop2'])
# Drop duplicate values in column Zip Code
sanfrancisconeighborhood_df = sanfrancisconeighborhood_df.drop_duplicates(subset='Zip Code', keep='first')
# Sort values by zip code so irrelevant data goes to bottom
sanfrancisconeighborhood_df = sanfrancisconeighborhood_df.sort_values('Zip Code')
# Count of remaining records
print(sanfrancisconeighborhood_df.shape[0])
# Drop columns with irrelevant data
sanfrancisconeighborhood_df = sanfrancisconeighborhood_df.iloc[0:-6,]
sanfrancisconeighborhood_df

27

   Zip Code                             Neighborhood Population
1     94102  Hayes Valley/Tenderloin/North of Market      28991
2     94103                          South of Market      23016
3     94107                             Potrero Hill      17368
4     94108                                Chinatown      13716
5     94109             Polk/Russian Hill (Nob Hill)      56322
6     94110             Inner Mission/Bernal Heights      74633
7     94112       Ingelside-Excelsior/Crocker-Amazon      73104
8     94114                        Castro/Noe Valley      30574
9     94115               Western Addition/Japantown      33115
10    94116                     Parkside/Forest Hill      42958
11    94117                           Haight-Ashbury      38738
12    94118                           Inner Richmond      38939
13    94121                           Outer Richmond      42473
14    94122                                   Sunset      55492
15    94123                                   Marina      22903
16    94124                    Bayview-Hunters Point      33170
17    94127    St. Francis Wood/Miraloma/West Portal      20624
18    94131                     Twin Peaks-Glen Park      27897
19    94132                              Lake Merced      26291
20    94133                    North Beach/Chinatown      26827
21    94134              Visitacion Valley/Sunnydale      40134

In [ ]:
#### Render nearby Castro venues within a 500 mile radius

In [ ]:
tmap=folium.Map(location=[latitude,longitude],zoom_start=11)
for lat,lng,descr,neighb in zip(sfcrimebyneighborhood_df['Latitude'],sfcrimebyneighborhood_df['Longitude'],sfcrimebyneighborhood_df['Description'],sfcrimebyneighborhood_df['Neighborhood']):
    label='{}, {}'.format(descr,neighb)
    label=folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat,lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(tmap)
tmap

### 2.4	Exploratory Data Analysis

In [ ]:
venues_map=folium.Map(location=[latitude, longitude], zoom_start=13) # generate map centred around the Conrad Hotel

# add a red circle marker to represent the castro neighborhood
folium.CircleMarker(
    [latitude, longitude],
    radius=10,
    color='red',
    popup='the castro san francisco',
    fill = True,
    fill_color = 'red',
    fill_opacity = 0.6
).add_to(venues_map)

# add the venues within the proximity as blue circle markers
for lat, lng, label in zip(nearby_venues_df.Latitude, nearby_venues_df.Longitude, nearby_venues_df.categories):
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        color='blue',
        popup=label,
        fill = True,
        fill_color='blue',
        fill_opacity=0.6
    ).add_to(venues_map)

# display map
venues_map

> #### 2.5.1	Regression

> #### 2.5.2	Classification

### 3. Results

### 4. Discussion

### 5. Conclusion